<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}">
</head>
<body>
<div class="container">

    <div class="top-right">
        <a th:href="@{/rest/v1/login}" sec:authorize="isAnonymous()" class="login-btn">Login</a>
    </div>

    <div class="content-container">
        <h1>Welcome to Friend Request Application</h1>
        <p>We are glad to have you here.</p>
    </div>


    <div class="navbar-container">
        <div class="navbar">
            <a th:href="@{/rest/v1/account}" sec:authorize="isAnonymous()">Accounts</a>
            <a th:href="@{/rest/v1/balance}" sec:authorize="isAuthenticated()">Balance</a>
            <a th:href="@{/rest/v1/cards}" sec:authorize="isAuthenticated()">Cards</a>
            <a th:href="@{/rest/v1/contacts}" sec:authorize="isAuthenticated()">Contact</a>
            <a th:href="@{/rest/v1/loans}" sec:authorize="isAuthenticated()">Loans</a>
            <a th:href="@{/rest/v1/notice}" sec:authorize="isAnonymous()">Notice</a>
        </div>
    </div>
</div>
</body>
</html>
